@font-face {
  font-family: 'IRANSansWeb';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/IRANSansXFaNum-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'IRANSansX';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/IRANSansXFaNum-Regular.woff2') format('woff2');
}
